
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/w1OT.iml
.idea/workspace.xml
.ipynb_checkpoints/test-checkpoint.ipynb
w1ot/.ipynb_checkpoints/layers-checkpoint.py
w1ot/.ipynb_checkpoints/ot-checkpoint.py
